body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

form {
    padding: 1rem;
}

h1 h2 {
    color: #333;
}

thead td {
    background: lightgrey;
    text-align: center;
}

td {
    border: 2px solid black;
}

td.title {
    padding: 12px 61px;
}

tr {
    border: 2px solid black;
}

table tr:nth-child(even) {
    background-color: #e6e6e6
}

table th {
    background-color: #9e9e9e;
    text-align: left;
    margin-left: 25%;
}

table tr:nth-child(odd) {
    background-color: #ffffff
}

thead {
    background-color: darkgrey;
    color: white;
}

tbody td {
    text-align: center;
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 3%;
    margin-top: 5%;
}

header img {
    height: 20vh;
    width: auto;
}

table {
    margin-top: 21%;

}

a.add_project {
    float: right;
    margin-right: 29%;
}

a.come_back {
    float: left;
    text-decoration: none;
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #9d9d9d;
    padding: 2.5%;
}

.footer p {
    color: #ddd;
    margin: 0;
}

.text-center {
    text-align: center;
}

li {
    display: inline-flex;
    margin: 1rem;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
}

tr {
    border: 2px solid black;
}


* {
    box-sizing: border-box;
}

form.project_create {
    border: 2px solid black;
    width: 50vh;
    margin-top: 0%;
    margin-left: 34%;
}

form.project_update {
    border: 2px solid black;
    width: 50vh;
    margin-top: 0%;
    margin-left: 34%;
}


/* media queries */
@media (max-width: 776px) {
    form.project_create {
        border: 2px solid black;
        width: 50vh;
        margin-top: -6%;
        margin-left: 34%;
    }

    a.come_back {
        margin-left: 46%;
    }
}

@media (max-width: 600px) {
    .column {
        margin-bottom: 1rem;
    }
}

@media (max-width: 550px) {
    .container h2, p {
        text-align: center;
    }

    a.come_back {
        margin-left: 46%;
    }
}